.App {
  text-align: center;
}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the video behind other content */
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden; /* Hide overflow for the video */
  /*background-image: url('C:/Users/L7aur/Desktop/New folder/wallpaper/wpp3.jpg'); !* Replace with your image path *!*/
  /*background-size: cover; !* Cover the entire background *!*/
  /*background-position: center; !* Center the background image *!*/
}

@keyframes animatedBackground {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 150% auto; /* Change the size to create zoom effect */
  }
  100% {
    background-size: 100% auto;
  }
}

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
